{% extends 'landing_news/father.html' %}
{% load static %}

{% block title %}
    Editar usuario
{% endblock title %}



{% block body %}

   

    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>Editar usuario</h1>

                <form action="{% url 'login:edit_profile' %}" method="post">{% csrf_token %}

                    {{myform.as_p}}
                  
                    <button type="submit"> Actualizar </button>
                  
                  </form>

                <a   href="{% url 'login:profile'%}">
                    <button type="button">Volver</button>
                </a>
                
            </div>
        </div>
    </div>

{% endblock body %}