{% extends 'landing_news/father.html' %}
{% load static %}

{% block title %}
    Sombre mi
{% endblock title %}


{% block body %}

    

    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>Sobre mi</h1>
                <p> 
                    Hola me llamo Federico Heredia, actualemte soy tesorero de una cooperativa.
                    Ahora estoy en camino de ser Backend Developer, es algo pendiente que tengo en la vida, ya que hace muchos
                    tiempo curse 2 años de ingieneria en sistemas en la UTN pero por complicaciones no pude seguir, todo lo que vi me gusto mucho 
                    y en ese entonces aprendi java. Ahora estoy aprendiendo python y me gustaria seguir con base de datos en profundidad.
                </p>
             
                
            </div>
        </div>
    </div>

{% endblock body %}