{% extends 'landing_news/father.html' %}
{% load static %}

{% block title %}
    La Taverna de Lopen
{% endblock title %}



{% block body %}

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <form method="GET" action="">
                <input type="text" name="q" placeholder="Buscar noticia x titulo" value="{{ request.GET.q }}">
                <button type="submit">Buscar</button>
            </form>

            <a   href="{% url 'landing_news:landing'%}">
                <button type="button">X</button>
            </a>

            {% if news %}
                {% for new in news %}
    
                <div class="post-preview">
                    <a href= "{% url 'landing_news:new_detail' new.id %}">
                    <h3>{{new.title}}</h3>
                    </a>
                    <h6>{{new.original_date}}</h6>

                    <div style = "display: flex; column-gap: 5 px">
                    <button>
                        <a href="{% url 'landing_news:new_update' new.id %}" > Editar </a>
                    </button>
                    <button>
                        <a href="{% url 'landing_news:new_delete' new.id %}" > Borrar </a>
                    </button>

                    </div>


                    
                    <hr class="my-4" />
                </div>

                {% endfor %}
                
            {% else %}
                
                <p>  No hay coincidencias con tu busqueda </p>

            {% endif %}


            
            <a   href="{% url 'landing_news:new_create' %}">
                <button type="button">Nueva noticia</button>
            </a>
            
        </div>
    </div>
</div>

{% endblock body %}