{% extends 'landing_news/father.html' %}
{% load static %}

{% block title %}
    Editar Noticia
{% endblock title %}



{% block body %}

    <h1>Editar Noticia </h1>

    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <form action = "{% url 'landing_news:new_update' new.id %}" method= "post" enctype="multipart/form-data"> {% csrf_token %}
                    {{form.as_p}}

                    <button type= "submit"> Guardar </button>

                </form>

                <a   href="{% url 'landing_news:landing'%}">
                    <button type="button">Volver</button>
                </a>
                
            </div>
        </div>
    </div>

{% endblock body %}